{% load staticfiles %}

<!doctype html>
<html lang="en" ng-app="ngdemo">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular client for Django api (homework from Stefan)</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-responsive.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
</head>

<body>
{% verbatim %}
<script type="text/ng-template" id="user-list.html">
    <div class="span6 container">

    <table class="table table-striped ">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">Last name</th>
            <th style="min-width: 80px;">Phone</th>
            <th style="min-width: 80px;">Email</th>
            <th style="min-width: 80px;">
                <div class="btn-group">
                    <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#">Export as:</a>
                    <ul class="dropdown-menu">
                        <li><a href="/export?format_type=json">JSON</a></li>
                        <li><a href="/export?format_type=csv">CSV</a></li>
                        <li><a href="/export?format_type=xml">XML</a></li>
                    </ul>
                </div>
            </th>
            <th style="min-width: 200px;">
                <a ng-click="triggerUpload()" class="btn btn-small btn-danger">Import contact list</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users" class="user{{ user.id }}">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td><a ng-click="editUser(user.id)" class="btn btn-small btn-primary">edit</a></td>
            <td><a ng-click="deleteUser(user.id)" class="btn btn-small btn-danger">delete</a></td>
        </tr>
        </tbody>
    </table>
    <a ng-click="createNewUser()" class="btn btn-primary btn-small">Create new user</a>

</div>
</script>
<script type="text/ng-template" id="user-creation.html">
    <div class="container">
    <h1>Create a new user</h1>

    <form name="form" novalidate="novalidate" class="form-horizontal">
        <div class="control-group" ng-class="{'error' : form.firstName.$error.server }">
            <label class="control-label" for="inputFirstName">First name:</label>

            <div class="controls">
                <input type="text" name="firstName" id="inputFirstName" ng-model="user.firstName" placeholder="First name" server-error/>
                <span  class="help-inline" ng-show="form.firstName.$error.server">{{ errors.firstName }}</span>
            </div>

        </div>
        <div class="control-group" ng-class="{'error' : form.lastName.$error.server }">
            <label class="control-label" for="inputLastName">Last name:</label>

            <div class="controls">
                <input type="text" name="lastName" id="inputLastName" ng-model="user.lastName" placeholder="Last name" server-error/>
                <span class="help-inline" ng-show="form.lastName.$error.server">{{ errors.lastName }}</span>
            </div>


         </div>
        <div class="control-group" ng-class="{'error' : form.phone.$error.server }">
            <label class="control-label" for="inputPhone">Phone:</label>

            <div class="controls">
                <input type="text" name="phone" id="inputPhone" ng-model="user.phone"  placeholder="Phone" server-error/>
                <span class="help-inline" ng-show="form.phone.$error.server">{{ errors.phone }}</span>
            </div>

        </div>
        <div class="control-group" ng-class="{'error' : form.email.$error.server }">
            <label class="control-label" for="inputEmail">Email:</label>

            <div class="controls">
                <input type="text" name="email" id="inputEmail" ng-model="user.email"  placeholder="Email" server-error/>
                <span class="help-inline" ng-show="form.email.$error.server">{{ errors.email }}</span>
            </div>



        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="createNewUser()" class="btn btn-small btn-primary">create new user</a>
            </div>
        </div>
    </form>
</div>

</script>

<script type="text/ng-template" id="user-detail.html">
    <div class="container">
    <h1>User detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">First name:</label>

            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="user.firstName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Last name:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="user.lastName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPhone">Phone:</label>

            <div class="controls">
                <input type="text" id="inputPhone" ng-model="user.phone"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email:</label>

            <div class="controls">
                <input type="text" id="inputEmail" ng-model="user.email"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">cancel</a>
                <a ng-click="updateUser()" class="btn btn-small btn-primary">update user</a>
            </div>
        </div>
    </form>

</div>

</script>
<form name="contactUpload" action="/upload" method="post" enctype="multipart/form-data" style="display: none">
    <input type="file" name="uploadField" id="fileUpload"/>
</form>
{% endverbatim %}
<div ng-view></div>

<!-- JQuery ================================================================ -->
<script src="{% static 'js/jquery/jquery-2.0.3.js' %}"></script>

<!-- Bootstrap ============================================================= -->
<script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>

<!-- AngularJS ============================================================= -->
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->
<script src="{% static 'lib/angular/angular.js' %}"></script>
<script src="{% static 'lib/angular/angular-resource.js' %}"></script>

<!-- AngularJS App Code ==================================================== -->
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/services.js' %}"></script>
<script src="{% static 'js/controllers.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>
<script src="{% static 'js/directives.js' %}"></script>

</body>
</html>
